.bottom-panel {
  display: flex;
  justify-content: center;
  background: var(--bezel-dark);
  height: 40px;
  width: 100%;
}

.softkeys-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: 100%;
  max-width: 1024px;
  padding: 5px 0;
  justify-items: center;
}
