.altimeter-tape-container {
  width: 125px; /* Slightly wider */
  height: 600px;
  position: relative;
  background: var(--bg-black);
}

.altimeter-tape-container .tape-window {
  position: absolute;
  top: 45px;
  left: 0;
  right: 0;
  bottom: 20px;
  overflow: hidden;
}

.altimeter-tape-container .tape-scale {
  position: absolute;
  /* (600 - 45 - 20) / 2 = 267.5px */
  bottom: 267.5px;
  left: 0;
  width: 100%;
  transition: transform 0.1s linear;
}

.altimeter-tape-container .readout-pointer {
  position: absolute;
  top: 300px; /* Exact center of the 600px container */
  transform: translateY(-50%);
  left: 0px;
  z-index: 30;
}

.altimeter-tape-container .pointer-box {
  width: 110px;
}

.altimeter-tape-container .tape-tick {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
}

.altimeter-tape-container .tick-line {
  position: absolute;
  left: 0;
  width: 25px;
  height: 2px;
  background: var(--text-dim);
}

.altimeter-tape-container .tick-label {
  position: absolute;
  left: 35px;
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--text-main);
  line-height: 0;
  top: 50%;
  transform: translateY(-50%);
  text-align: left;
}
