.engine-display {
  width: 149px;
  height: 100%;
  background-color: #000;
  border-right: 1px solid #333;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.engine-display-placeholder {
  color: var(--text-dim);
  font-size: 14px;
  font-weight: bold;
  border: 1px dashed #444;
  padding: 10px;
}
